[Unit]
Description=Cytoscape Container REST service
After=auditd.service systemd-user-sessions.service time-sync.target docker.service

[Service]
User=cytorunner
TimeoutStartSec=0
Type=simple
KillMode=process
WorkingDirectory=/tmp
StandardOutput=null
StandardError=null
ExecStart=/bin/java -jar /opt/cytocontainer/cytocontainer-rest-server.jar --mode runserver --conf /etc/cytocontainer/server.conf
Restart=always
RestartSec=5
LimitNOFILE=5555

[Install]
WantedBy=multi-user.target

